<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>XS</title>
  <meta name="author" content="Roxor Studios">
  <link rel="stylesheet" href="/assets/css/app.css?v=0.0.1">
</head>

<body>
    <div id="overlay"></div>
    <div id="player">
        <div id="offline">
            <div class="info vertical">
                <img id="logo" src="/assets/images/logo.png">
                <p>Waiting for internet connection</p>
            </div>
        </div>
        <div id="loading">
            <div class="info vertical">
                <img id="logo" src="/assets/images/logo.png">
            </div>
        </div>
        <div id="count-container" v-if="count"><p>{{ counter }}</p></div>
        <div id="print-container" v-on:click="print" v-if="printable"><p>Print</p></div>
    </div>

    <iframe id="view" scrolling="no"></iframe>

    <script src="/assets/js/app.js?v=0.0.1"></script>
</body>
</html>
